@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nova+Square&family=Red+Hat+Display:wght@400;600;700&display=swap');

:root{
    --main-text-color:#ffffff;
    --secondary-text-color:#B6B6B6;
    --third-text-color:#000000;
    --main-bg-color:#1B1B1B;
    --header-container-width:1716px;
    --body-container-width:1400px;
    
}

body{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    background-color:var(--main-bg-color);
    padding: 100px 61px;
    color:var(--main-text-color)
}
a{
    color:inherit;
}
.header_container{
    max-width:var(--header-container-width);
}
.header_nav{
    display: flex;
    font-size: 18px;
}
.header_nav_logo{
    width: 231px;
    height: 29px;
    margin-right: 431px;
}
.nav_list--header ul{
    display: flex;
    column-gap: 58px;
}
.nav_login{
    display: flex;
    margin-left: 175px;
}
.nav_login_languages{
    margin-left: 30px;
    margin-right: 29px;
    margin-top: -12px;
}
.nav_login_button{
    background: var(--main-text-color);
    border-radius: 9px;
    color: var(--third-text-color);
    width: 168.09px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}
.header-body-content{
    background-color: var(--main-text-color);
    height: 707px;
    margin-top: 46px;
    border-radius: 41px;
    color: var(--third-text-color);
    padding-left: 149px;
}
.header-body-title{
    font-size: 110px;
    padding-top: 66px;
    line-height: 110.8%;
    width: 552px;
    font-weight: 400;
    z-index: 1;
    position: sticky;
    font-family: 'Nova Square';

}
.header-body-subtitle{
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    margin-top: 32px;
    width: 400px;
    line-height: 33px;

}
.img-wrapper{
    left: 637px;
    top: 187px;
    position: absolute;
}
.header-body-button{
    font-weight: 600;
    font-size: 16px;
    margin-top: 53px;
    border-radius: 9px;
    background-color: var(--third-text-color);
    color: var(--main-text-color);
    width: 185.1px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-lower-content{
    color: var(--main-text-color);
    padding-left: 149px;
    margin-top: -125px;
}
.header-lower-button{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
}
.lower-button1{
    background: #272727;
    border-radius: 11px 0px 0px 0px;
    width: 187.63px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lower-button2{
    width: 187.63px;
    height: 74px;
    background-color: #484848;
    border-radius: 0px 11px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-lower-decription{
    width: 1400px;
    height: 102px;
    background: #484848;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.25);
    border-radius: 0px 11px 11px 11px;
    display: flex;
    padding: 25px 0px;

}
.decription-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 39px;
    border-right: 1px solid #FFFFFF;
    padding-left: 15px;
}
.title{
    color: #CBCBCB;
    font-size: 18px;
    margin-bottom: 5px;
}
.decription{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-right: 40px;
}
.decription-wrapper-last{
    display: flex;
    flex-direction: column;
    margin-left: 39px;
    padding-left: 15px;
    
}
.decription-wrapper-button{
    font-weight: 600;
    font-size: 20px;
    margin-top: -15px;
    margin-left: 140px;
    color: var(--third-text-color);
    width: 193px;
    height: 82px;
    background-color: var(--main-text-color);
    box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.25);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body_container{
    max-width:var(--body-container-width);
}
.aboutus{
    padding: 88px 159px;
}
.aboutus_title{
    font-family: 'Nova Square';
    font-weight: 400;
    font-size: 70px;
    text-align: justify;
    color: var(--main-text-color);
    margin-bottom: 30px;
}
.aboutus_subtitle{
    font-size: 25px;
    color: #9F9F9F;
}
.aboutus-content{
    background-color: #333333;
    border-radius: 27px;
    width: 1400px;
    height: 514px;
    display: flex;
    margin-top: 94px;
}
.aboutus-content-img{
    padding: 48px 55px;
}
.aboutus-content-wrapper{
    margin-top: 50px;
}
.aboutus-content-paragraph{
    width: 644px;
    margin-top: 30px;
    margin-right: 72px;
}
.our_services_content{
    margin-top: 56px;
    display: flex;
    column-gap: 26px;
}
.our_services_wrapper{
    width: 330px;
    height: 473px;
    background: #333333;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}
.content-title{
    font-weight: 700;
    font-size: 25px;
    margin-top: 29px;
    margin-bottom: 9px;
}
.content-button{
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 35px;
    width: 122.72px;
    height: 40px;
    color: var(--third-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.button_long{
    margin-top: 55px;
}