@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nova+Square&family=Red+Hat+Display:wght@400;600;700&display=swap');

:root{
    --main-text-color:#ffffff;
    --secondary-text-color:#B6B6B6;
    --third-text-color:#000000;
    --main-bg-color:#1B1B1B;
    --header-container-width:1716px;
    --body-container-width:1400px;
    
}

body {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    background-color:var(--main-bg-color);
    color:var(--main-text-color)
}
a{
    color:inherit;
}
header{
    padding: 100px 61px;
}
main{
    padding: 100px 61px;
}
.header_container{
    max-width:var(--header-container-width);
}
.header_nav{
    display: flex;
    font-size: 18px;
}
.header_nav_logo{
    width: 231px;
    height: 29px;
    margin-right: 431px;
}
.nav_list--header ul{
    display: flex;
    column-gap: 58px;
}
.nav_login{
    display: flex;
    margin-left: 175px;
}
.nav_login_languages{
    margin-left: 30px;
    margin-right: 29px;
    margin-top: -12px;
}
.nav_login_button{
    background: var(--main-text-color);
    border-radius: 9px;
    color: var(--third-text-color);
    width: 168.09px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}
.header-body-content{
    background-color: var(--main-text-color);
    height: 707px;
    margin-top: 46px;
    border-radius: 41px;
    color: var(--third-text-color);
    padding-left: 149px;
}
.header-body-title{
    font-size: 110px;
    padding-top: 66px;
    line-height: 110.8%;
    width: 552px;
    font-weight: 400;
    z-index: 1;
    position: sticky;
    font-family: 'Nova Square';

}
.header-body-subtitle{
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    margin-top: 32px;
    width: 400px;
    line-height: 33px;

}
.img-wrapper{
    left: 637px;
    top: 187px;
    position: absolute;
}
.page-two-header{
    width: 1716px;
    height: 360px;
    margin-top: 49px;
}
.page-two-header-content{
    text-align: center;
    margin-top: -230px;

}
.page-two-header-content-title{
    font-weight: 600;
    font-size: 50px;
}
.page-two-header-content-subtitle{
    font-weight: 600;
    font-size: 20px;
    margin-top: 16px;
}

.header-body-button{
    font-weight: 600;
    font-size: 16px;
    margin-top: 53px;
    border-radius: 9px;
    background-color: var(--third-text-color);
    color: var(--main-text-color);
    width: 185.1px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-lower-content{
    color: var(--main-text-color);
    padding-left: 149px;
    margin-top: -125px;
}
.header-lower-button{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
}
.lower-button1{
    background-color: #484848;
    border-radius: 11px 0px 0px 0px;
    width: 187.63px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lower-button2{
    width: 187.63px;
    height: 74px;
    background: #272727;
    border-radius: 0px 11px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-lower-decription{
    width: 1400px;
    height: 102px;
    background: #484848;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.25);
    border-radius: 0px 11px 11px 11px;
    display: flex;
    padding: 25px 0px;

}
.decription-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 39px;
    border-right: 1px solid #FFFFFF;
    padding-left: 15px;
}
.title{
    color: #CBCBCB;
    font-size: 18px;
    margin-bottom: 5px;
}
.decription{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-right: 40px;
}
.decription-wrapper-last{
    display: flex;
    flex-direction: column;
    margin-left: 39px;
    padding-left: 15px;
    
}
.decription-wrapper-button{
    font-weight: 600;
    font-size: 20px;
    margin-top: -15px;
    margin-left: 1195px;
    color: var(--third-text-color);
    width: 193px;
    height: 82px;
    background-color: var(--main-text-color);
    box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.25);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
}
.body_container{
    max-width:var(--body-container-width);
}
.aboutus{
    padding: 88px 159px;
}
.unionone{
    background: url(./../img/main-page/Union.svg) no-repeat;
}
.uniontwo{
    background: url(./../img/main-page/Union2.svg) no-repeat;
}
.unionthree{
    background: url(./../img/main-page/Union3.svg) no-repeat;
}
.unionfour{
    background: url(./../img/main-page/Union4.svg) no-repeat;
}
.unionfive{
    background: url(./../img/main-page/Union5.svg) no-repeat;
}
.aboutus_title{
    font-family: 'Nova Square';
    font-weight: 400;
    font-size: 70px;
    text-align: justify;
    color: var(--main-text-color);
    margin-bottom: 30px;
}
.aboutus_subtitle{
    font-size: 25px;
    color: #9F9F9F;
}
.aboutus-content{
    background-color: #333333;
    border-radius: 27px;
    width: 1400px;
    height: 514px;
    display: flex;
    margin-top: 94px;
}
.aboutus-content-img{
    padding: 48px 55px;
}
.aboutus-content-wrapper{
    margin-top: 50px;
}
.aboutus-content-paragraph{
    width: 644px;
    margin-top: 30px;
    margin-right: 72px;
}
.our_services_content{
    margin-top: 56px;
    display: flex;
    column-gap: 26px;
}
.our_services_wrapper{
    width: 330px;
    height: 473px;
    background: #333333;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}
.content-title{
    font-weight: 700;
    font-size: 25px;
    margin-top: 29px;
    margin-bottom: 9px;
}
.content-button{
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 35px;
    width: 122.72px;
    height: 40px;
    color: var(--third-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.button_long{
    margin-top: 55px;
}
.our-fleets-header{
    margin-left: 162px;
    margin-bottom: 72px;
}
.our-fleets-wrapper-content{
    padding-top: 20px;
    padding-left: 159px;
    padding-right: 159px;
    padding-bottom: 53px;
    display: flex;
    background: url(./../img/main-page/our-fleets-bg.png) no-repeat;
    border-radius: 27px;
}
.our-fleets-title{
    font-size: 60px;
    margin-bottom: 2px;
}
.our-fleets-subtitle{
    font-weight: 600;
    font-size: 30px;
}
.our-fleets-button{
    width: 238px;
    margin-top: 64px;
    height: 60px;
    color: var(--third-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background:var(--main-text-color);
    box-shadow: 0px 15px 50px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}
.default-txt{
    color:#A7A7A7;
    font-weight: 600;
    font-size: 30px;

}
.bold-txt{
    font-weight: 700;
    font-size: 60px;
    margin-left: 429px;
}
.our-fleets-car{
    margin-left: 550px;
    margin-top: -200px;
}
/* ----------- */
#carousel {
    position: relative;
    height: 400px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    margin-top: 200px;
}
  #carousel div {
    position: absolute;
    transition: transform 400ms, left 400ms, opacity 400ms, z-index 0s;
    opacity: 1;
  }
  #carousel div img {
    width: 400px;
    transition: width 400ms;
     -webkit-user-drag: none;
     cursor: pointer;
     margin: auto 0;
  }
  #carousel div.prev {
    z-index: 5;
    left: 20%;
    transform: translateY(50px) translateX(-50%);
    width: 436px;
    height: 300px;
    background: #494949;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #carousel div.prev img {
    width: 400px;

  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    /* transform: translateY(0px) translateX(-50%); */
    transform: translateY(50px) translateX(-50%);
    width: 436px;
    height: 300px;
    background: #494949;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #carousel div.next {
    z-index: 5;
    left: 80%;
    transform: translateY(50px) translateX(-50%);
    width: 436px;
    height: 300px;
    background: #494949;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #carousel div.next img {
    width: 400px;
  }
  .buttons {
    margin-left: 140px;
    margin-top: 21px;
  }
  #prev{
    margin-right: 50px;
  }
  .auto-name{
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: -20px;
  }
  .sponsors-wrapper{
    background-color: var(--main-text-color);
    border-radius: 20px;
    display: flex;
    column-gap: 66px;
    padding:83px 159px 74px 159px;
  }
  .limogroup{
    padding-top: 110px;
  }
  .limogroup-content{
    margin-top: 78px;
  }
  .limogroup-content-wrapper{
    background: #333333;
    border-radius: 20px;
    padding: 36px 36px 35px 37px;
    display: flex;
    column-gap: 87px;
    width: 674px;
  }
  .limogroup-img{
    width: 236px;
    height: 139px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 9px;
  }
  .limogroup-content-title{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 21px;
  }
.limogroup-content-subtitle{
    font-size: 16px;
    width: 248px;
}
.limogroup-content{
    display: flex;
    column-gap: 48px;
    margin-top: 36px;
}
.limogroup-subtitle{
    margin-bottom: 78px;
}
/*  */

.form-control, .input-textarea{
    font-size: 16px;
    color: #9C9C9C;
    width: 596px;
}

.form-group:not(:last-child){
    margin-bottom: 30px;
    font-size: 16px;
    color: #9C9C9C;
    background: #3A3A3A;
    border-radius: 9px;
    width: 638px;
    height: 63px;
    padding: 21px 21px;
}
.input-textarea {
    max-height: 174px;
    min-height: 174px;
    width: 635px;
    padding: 18px 27px;
    resize: vertical;
    font-size: 16px;
    color: #9C9C9C;
    background: #3A3A3A;
    border-radius: 9px;
  }
  /*  */
  /* This css is for normalizing styles. You can skip this. */
  


  /* This css is for normalizing styles. You can skip this. */
  
  .form-group-lower {
    display: block;
    margin-top: 70px;
  }
  
  .form-group-lower input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group-lower label {
    position: relative;
    cursor: pointer;
    
  }
  
  .form-group-lower label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    background: #3A3A3A;
    border-radius: 2px;
    
    padding: 10px;
    display: inline-block;
    
    vertical-align: middle;
    cursor: pointer;
    margin-right: 16px;
    width: 26px;
height: 26px;
  }
  
  .form-group-lower input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    
  }
  /*  */
.contactus-lower-wrapper{
    display: flex;
    
}
.Submit{
    width: 188px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 8px;
    color: var(--third-text-color);
    margin-top: 53px;
    margin-left: 58px;
}
.contactus-all-wrapper{
    display: flex;
    flex-direction: row;
    column-gap: 95px;
}
.footer{
    background-color: var(--main-text-color);
    color: var(--third-text-color);
    padding: 0;
}
.footer_container{
    max-width: 1716px;
    padding-top: 62px;
    padding-left: 223px;
}
.footer-content-title{
    font-weight: 900;
    font-size: 50px;
    margin-bottom:20px;
    
}
.footer-content-subtitle{
    font-weight: 400;
    font-size: 25px;
    color: var(--secondary-text-color)
}
.form-group-footer{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: inherit;
    background: #F0F0F0;
    border-radius: 9px;
    width: 579px;
    height: 65px;
    padding: 21px 21px;
    margin-top: 40px;
    display: flex;
}
.form-control-lower{
    font-size: 16px;
    color: #A8A8A8;
    width: 596px;
    padding-right: 10px;
}
.Subscribe{
    width: 146px;
    height: 55px;
    color: var(--main-text-color);
    background: #0E0E0E;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-top: -15px;
    margin-right: -15px;
}
.footer-logo{
    display: flex;
    padding-left: 427px;
    flex-direction: column;
}
.footer-content-wrapper{
    display: flex;
}
.limogroup-logo{
    margin-top: 20px;
    margin-bottom: 65px;
}
.list-footer{
    margin-top: 10px;
    margin-left: 200px;
    text-align: right;
}
.contacts{
    display: flex;
    column-gap: 220px;
    margin-top: 40px;
    margin-bottom: 91px;
}
.email{
    margin-top: 10px;
}
.phone{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.location{
    font-weight: 600;
    font-size: 18px;
    line-height: 192.8%;
    /* or 35px */
    width: 250px;
    height: 70px;

    text-align: center;

    color: #666666;
}
.phone-number{
    margin-top: 10px;
    width: 143px;
    text-align: center;
}
.email-address{
    margin-top: 10px;
}
.time{
    margin-top: 5px;
    width: 125px;
    text-align: center;
}
.email{
    margin-top: 20px;
}
.timetable{
    margin-top: 10px;
}
.footer-lower-text{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding-top:29px;
    border-top: 1px solid #D8D8D8;
    padding-bottom: 8px;
}
.last-img{
    margin-top: -95px;
    margin-left: 1610px;
    
}